*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 100vh;
}

/*Left Side */

.image {
    background-image: url(./image.jpg);
    background-size: center;
    width: 40vw;
    background-repeat: no-repeat;
}

/*Right Side*/

.right-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 60vw;
}

.info {
    background-color: lightgrey;
    padding-top: 10vh;
    padding-bottom: 5vh;
    height: 35%;
}

.form-container {
    padding-top: 2vh;
    padding-bottom: 2vh;
    height: 30%;
}

.log {
    background-color: lightgrey;
    padding-top: 4vh;
    height: 35%;
}

.information {
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    min-width: 0;
}

.information, h1, .log {
    padding-left: 3vw;
}

.create-account {
    background-color: #596D48;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;
    padding: 14px 46px;
}

.login {
    color: #596D48;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.button-text {
    margin-top: 4vh;
}

.input {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 3vw;
}

form {
    display: flex;
    flex-flow: row wrap;
}