@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,700;1,300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;

}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 100vh;
}

/*Left Side */

.image {
    background-image: url(./anna-tsukanova-unsplash.jpg);
    width: 40vw;
}

.logo {
    background-color: black;
    color: white;
    position: relative;
    top: 20vh;
    display: flex;
    flex-flow: row wrap;
    opacity: 30%;
}

.logo-image {
    width: 40vw;
}

/*Right Side*/

.right-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 60vw;
}

.info {
    background-color: black;
    color: white;
    padding-top: 10vh;
    padding-bottom: 5vh;
    height: 35%;
}

.form-container {
    padding-top: 4vh;
    padding-bottom: 2vh;
    height: 30%;
    background-color: #02052D;
}

.log {
    background-color: black;
    padding-top: 4vh;
    height: 35%;
}

.information {
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    min-width: 0;
    padding-right: 7vw;
}

.information, h1, .log {
    padding-left: 3vw;
}

.create-account {
    background-color: #03063A;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border-radius: 12px;
    padding: 12px 30px;
    border: none;
}

.login {
    color: lightblue;
    font-size: 1.1em;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.button-text {
    margin-top: 3vh;
    color: white;
    font-size: 0.9em;
}

.input {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 3vw;
}

input:focus {
    outline-color: rgba(28,110,164,0.84);
}

form {
    display: flex;
    flex-flow: row wrap;
}

label {
    font-size: 0.8em;
    color: white;
}

h1 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 2vh;
    color: white;
}